:root{
    /*Colores a utilizar*/
    --color-principal: #F6C42A;
    --colo-secundario: #606060;
    --blanco: #ffffff;
    --negro: #000000 ;
    /*Color de textos*/

    --color-de-texto:#333333;
    /*Fuentes de texto*/
    --fuente-titulos: "Roboto", sans-serif;  ;
    --fuente-de-textos:  "Rubik", sans-serif;
    --fuente-enlace: "Rubik", sans-serif;
}


.hero-nosotros{
    background-image: url(/img/nosotros/banner_nosostros.webp);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0;
}



.hero-nosotros__titulo{
    background-color: var(--color-principal);
    text-align: center;
    font-family: var(--fuente-titulos);
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1px;
}

.hero-nosotros__contenido{
    color: var(--blanco);
    font-size: 20rem;
    text-align: center;
    padding: 3rem;
    
}

.hero-nosotros__contenido p{
    font-size: 3rem;
}

/*Diseño de la apartado de nostros*/
.nosostros{
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 1rem;
    padding: 2rem 2rem;
    align-items: center;
}

.nosotros_contenido{
    margin-left: 10rem;
}


.nosostros img{
    width: 50rem;
    height: 30rem;
    border-radius: 10rem;
}

.nosostros h2{
    font-family: var(--fuente-titulos);
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.nosostros hr{
    background-color: var(--color-principal);
    height: 2px;
    margin-left: -1px;
    width: 65rem;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .nosotros{
         display: grid;
         grid-template-columns: repeat(1, auto);
         column-gap: 2rem;
    }
 }
