
:root {
    /*colores a utilizar*/
    --color-amarillo: #f6c42a;
    --color-gris: #606060;
    --blanco: #fff;
    /*color texto*/
    --color-texto: #333333;
    /*fuentes de texto*/
    --titulos: "Roboto", sans-serif;
    --texto: "Rubik", sans-serif;
  }

.hero-promo{
    height: 80vh;
    overflow: hidden;
    position: relative;
    object-fit: inherit;
    border-top-color: #F6C42A;
    border-top-width: 6px;
    border-top-style: solid;

}

.bg-video{
    object-fit: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    
}

/*Medias para video para imagenes*/
@media (min-width:320px) and (max-width:1048px) {
    .hero-promo{
        height: 45vh;
    }
    .bg-video{
        object-fit: inherit;
        width: 100%;
        height: 100%;
        position: absolute;  
    }
}




/*Boton*/

.bg-boton{
    position: relative;
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 50rem;
}


.boton-incio{
    background-color: #F6C42A;  
    width: 20rem;
    height: 6rem;
    border-radius: 3rem;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    
}



@media (min-width:320px) and (max-width:480px) {
    .bg-boton{
        position: relative;
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 25rem;
        
    }
    .boton-incio{
        background-color: #F6C42A;  
        width: 15rem;
        height: 5rem;
        border-radius: 3rem;
        font-size: 1.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        cursor: pointer;
    }
}


/*Media query par pantallas de 768px a 1024px*/
@media (min-width: 768px) and (max-width: 890px) {
    .bg-boton{
        position: relative;
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 35rem;
        
    }
    .boton-incio{
        background-color: #F6C42A;  
        width: 20rem;
        height: 5rem;
        border-radius: 3rem;
        font-size: 1.7rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media (min-width: 900px) and (max-width: 1440px) {
    .bg-boton{
        position: relative;
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 60rem;
        
    }
    .boton-incio{
        background-color: #F6C42A;  
        width: 20rem;
        height: 5rem;
        border-radius: 3rem;
        font-size: 1.7rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        cursor: pointer;
    }
   
}

/*Apartado de nuestra historia*/
/*Historia*/
.historia{
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.historia_logo{
    grid-row: 1 / 2;
 }

 .historia_logo{
    width: 50rem;
    padding-top: 5rem;
    align-items: center;
}
.historia_informacion{
    font-size: 3rem;
    padding: 2rem;
    text-align:justify;
    padding: 0;
   
}



@media (min-width:768px){
    .historia{
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding-top: 5rem;
    }
    .historia_logo{
        width: 30rem;
        padding: 0;
        align-items: center;
    }
    .historia_informacion{
        font-size: 2rem;
        padding: 1rem;
    }

    .historia_informacion h1{
        margin: 0;
    }

    .historia_logo{
        grid-column: 2 / 3;
    }
}

@media (min-width: 1440px ) {
    .historia_logo{
        width: 45rem;
        align-items: center;
    }
    .historia_informacion{
        font-size: 3.5rem;
        padding: 1rem;
    }
} 


@media (min-width: 320px) and (max-width:480px) {
   .historia_logo{
        width: 100%;
        padding-top: 10rem;
   }
   .historia_informacion h1{
     text-align: center;
     font-size: 4.5rem;
   }
}


.boton-historia{
    display: flex;
    justify-content: center;
}

.boton-historia button{
    background-color: #F6C42A;  
    width: 20rem;
    height: 6rem;
    border-radius: 3rem;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}


.linea_cont{
    height: 2.5px;
    background-color: #F6C42A;  
    
}

/*Seccion de amenidades*/
.amenidades-principal{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin: 1rem;
    position:relative;
}

.amenidades-principal__imagen{
    display: flex;
    height: 40rem;
    width: 40rem;
}
.contenido-verde{
    padding: 1rem;
}

.compromiso-verde{
    background-image: url(/img/principal/compromiso_verde.jpg);
    background-size: cover;
    height: 50rem;
    background-repeat: no-repeat;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.sombra{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,1); 
    padding: 2rem;
    border-radius: 1rem ;
}


.compromiso-verde{
    display: inline-block;
    padding:10rem;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
}

.compromiso-verde_texto{
    padding-top: 3rem;
    font-size: 2.5rem;
    display: inline-block;
    text-transform:capitalize;
}

.compromiso-verde_boton{
    background-color: #F6C42A;  
    width: 20rem;
    height: 6rem;
    border-radius: 3rem;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}


/*Media query verde*/
@media (min-width:320px) {
    .compromiso-verde{
       padding: 0;
       margin: 0;
       text-align: center;
        
    }
}

/*Diseño del apartado de proyectos*/
.proyectos-principal{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin: .5rem;
    position:relative;
    height: 60rem;
    
}


.proyectos-principal_boton{
    background-color: white;  
    width: 20rem;
    height: 6rem;
    border-radius: 3rem;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    margin-top: 45rem;
}

.proyectos-principal__imagen{
    display: flex;
    overflow: hidden;
    object-fit: cover;
    width: auto;
    place-content: center;

    
}


/*Diseño de los titulos */

.amenidades-rentangulo{
    width: 140rem;
    position: absolute;
    background-color:rgba(246, 196, 42, .8);
    display: flex;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    margin-left: 25rem;
    margin-top: 1rem;
    height: 6rem;
    animation: aparecion;
    animation-duration: 3s ;    
    animation-fill-mode: forwards;
    animation-timeline: scroll();


}


@keyframes aparecion {
    from {left: -50px;}
    to {left: 40px; background-color: rgba(246, 196, 42, .8);}
}


.amenidades-texto{
    justify-content: center;
    display: flex;

}

.amenidades-texto h3{
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    justify-content: center;
    text-transform: uppercase;
}






/*Proyectos*/

.proyectos-texto{
    background-color: rgba(246, 196, 42, .8);
    width: 150rem;
    height: 5rem;
    left: 15rem;
    position: absolute;
    margin-top: 1rem;
}

.proyectos-texto h3{
    display: flex;
    align-items:flex-start;
    font-size: 3rem;
}

.proyecto-restangulo{
    width: 100rem;
    position: absolute;
    background-color:rgba(246, 196, 42, .8);
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 25rem;
    margin-top: 1rem;
    height: 6rem;
}

.proyecto-texto{
    justify-content: center;
    display: flex;
}

.proyecto-texto h3{
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    justify-content: center;
    text-transform: uppercase;
}
