:root {
  /*colores a utilizar*/
  --color-amarillo: #f6c42a;
  --color-gris: #606060;
  --blanco: #fff;
  /*color texto*/
  --color-texto: #333333;
  /*fuentes de texto*/
  --titulos: "Roboto", sans-serif;
  --texto: "Rubik", sans-serif;
}

.hero-promo {
  height: 80vh;
  overflow: hidden;
  position: relative;
  object-fit: inherit;
  border-top-color: #f6c42a;
  border-top-width: 6px;
  border-top-style: solid;
  background-color: grey;
  justify-content: center;
  align-items: center;
}



.my_video {
  object-fit: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

@media (min-width:320px) and (max-width: 768px) and  (orientation: portrait){
      .hero-promo{
          height: 45rem;
      }

      .bg-boton {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 35rem;
    }

    .boton-incio {
      background-color:var(--color-amarillo);
      width: 20rem;
      height: 6rem;
      border-radius: 3rem;
      font-size: 2rem;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      text-transform: uppercase;
      cursor: pointer;
    }
 
}

@media (min-width:320px) and (max-width: 768px) and  (orientation: landscape){
   .hero-promo{
      height: 60rem;
   }

   .bg-boton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45rem;
}

.boton-incio {
  background-color:var(--color-amarillo);
  width: 20rem;
  height: 6rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
 

}




@media (min-width:844px) and  (orientation: landscape){
   .hero-promo{
      height: 60rem;
   }

   .bg-boton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45rem;
}

.boton-incio {
  background-color:var(--color-amarillo);
  width: 20rem;
  height: 6rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
}

@media (min-width:900px) and  (orientation: portrait){
   .hero-promo{
      height: 60rem;
   }

   .bg-boton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45rem;
}

.boton-incio {
  background-color:var(--color-amarillo);
  width: 20rem;
  height: 6rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
}
 
 





/*Boton*/




/*
@media (min-width: 320px) and (max-width: 480px) {
  .bg-boton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45rem;
  }
  .boton-incio {
    position: absolute;
    background-color: #f6c42a;
    width: 15rem;
    height: 5rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }
}


@media (min-width: 768px) and (max-width: 890px) {
  .bg-boton {
    padding-top: 45rem;
    
  }
  .boton-incio {
    background-color: #f6c42a;
    width: 20rem;
    height: 5rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (min-width: 900px) and (max-width: 1440px) {
  .bg-boton {
    position: relative;
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 30rem;
  }
  .boton-incio {
    background-color: #f6c42a;
    width: 20rem;
    height: 5rem;
    border-radius: 3rem;
    font-size: 1.7rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }
}*/

/*Apartado de nuestra historia*/
/*Historia*/
.historia {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.historia_logo {
  grid-row: 1 / 2;
}

.historia_logo {
  width: 50rem;
  padding-top: 5rem;
  align-items: center;
}
.historia_informacion {
  font-size: 3rem;
  padding: 2rem;
  text-align: justify;
  padding: 0;
}

.boton_info {
  display: flex;
  text-align: center;
  align-items: center;
  color: black;
  justify-content: center;
  position: relative;
  background-color: #f6c42a;
  width: 20rem;
  height: 5rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .historia {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-top: 5rem;
  }
  .historia_logo {
    width: 30rem;
    padding: 0;
    align-items: center;
  }
  .historia_informacion {
    font-size: 2rem;
    padding: 1rem;
  }

  .historia_informacion h1 {
    margin: 0;
  }

  .historia_logo {
    grid-column: 2 / 3;
  }
}

@media (min-width: 1440px) {
  .historia_logo {
    width: 45rem;
    align-items: center;
  }
  .historia_informacion {
    font-size: 3.5rem;
    padding: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .historia_logo {
    width: 100%;
    padding-top: 10rem;
  }
  .historia_informacion h1 {
    text-align: center;
    font-size: 4.5rem;
  }
}

.boton-historia {
  display: flex;
  justify-content: center;
}

.boton-historia button {
  background-color: #f6c42a;
  width: 20rem;
  height: 6rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.linea_cont {
  height: 2.5px;
  background-color: #f6c42a;
}

/*Seccion de amenidades*/
.amenidades-principal {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  margin: 1rem;
  position: relative;
}

.amenidades-principal__imagen {
  display: flex;
  height: 40rem;
  width: 40rem;
}
.contenido-verde {
  padding: 1rem;
}

.compromiso-verde {
  background-image: url(/img/principal/compromiso_verde.jpg);
  background-size: cover;
  height: 50rem;
  background-repeat: no-repeat;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.sombra {
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 1);
  padding: 2rem;
  border-radius: 1rem;
}

.compromiso-verde {
  display: inline-block;
  padding: 10rem;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
}

.boton-ver {
  display: flex;
  align-content: center;
  justify-content: center;
}

.compromiso-verde_texto {
  padding-top: 6rem;
  font-size: 2.5rem;
  display: inline-block;
  text-transform: capitalize;
}

.compromiso-verde_boton {
  background-color: #f6c42a;
  width: 20rem;
  height: 6rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

/*Media query verde*/
@media (min-width: 320px) {
  .compromiso-verde {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

/*Diseño del apartado de proyectos*/
.proyectos-principal {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  margin: 0.5rem;
  position: relative;
  height: 60rem;
}

.proyectos-principal_boton {
  background-color: white;
  width: 20rem;
  height: 6rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  margin-top: 45rem;
}

.proyectos-principal__imagen {
  display: flex;
  overflow: hidden;
  object-fit: cover;
  width: auto;
  place-content: center;
}

.proyectos-principal__imagen a {
  display: flex;
  position: absolute;
}

/*Diseño de los titulos */

.amenidades-rentangulo {
  position: absolute;
  margin-top: 1rem;
  margin-left: 25rem;
  border-radius: 15px 0px 0px 15px;
  right: 0;
  width: 3vw;
  height: 6rem;
  z-index: 10;
  background-color: rgba(246, 196, 42, 0.8);
  overflow: hidden;
  transition: width 2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amenidades-texto {
  white-space: normal;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 2s, max-height 3s ease-in-out;
}

.amenidades-rentangulo .amenidades-texto h2 {
  font-family: var(--titulos);
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 3rem;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--color-texto);
  text-align: center;
}

.amenidades-rentangulo.expand {
  width: 80vw;
  max-width: 80vw;
}
.amenidades-rentangulo.expand .amenidades-texto {
  opacity: 1;
}

/*Proyectos*/

.proyecto-restangulo {
  position: absolute;
  margin-top: 1rem;
  margin-left: 25rem;
  border-radius: 15px 0px 0px 15px;
  right: 0;
  width: 3vw;
  height: 6rem;
  z-index: 10;
  background-color: rgba(246, 196, 42, 0.8);
  overflow: hidden;
  transition: width 2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyectos-texto {
  white-space: normal;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 2s, max-height 3s ease-in-out;
}

.proyectos-texto h2 {
  font-family: var(--titulos);
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 3rem;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--color-texto);
  text-align: center;
}

.proyecto-restangulo.expand {
  width: 80vw;
  max-width: 80vw;
}

.proyecto-restangulo.expand .proyectos-texto {
  opacity: 1;
}

/*Diseño de formulario*/

.contact-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
}

.form-section, .info-section {
  flex: 1 1 50%;
  padding: 40px;
  min-width: 300px;
}

.form-section h2 {
  font-family: var(--titulos);
  font-size: 40px;
  margin-bottom: 10px;
}

.form-section p {
  font-size: 15px;
  font-family: var(--texto);
  color: #666;
  margin-bottom: 30px;
}

form input, form textarea {
  font-family: var(--texto);
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font-size: 16px;
}

form textarea {
  resize: vertical;
  height: 100px;
}

form button {
  background-color: var(--color-texto);
  font-family: var(--texto);
  color: #fff;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  width: 100%;
}

form button:hover {
  background-color:var(--color-amarillo);
  color: var(--color-texto);
}

.info-section {
  font-family: var(--texto);
  background-color: #1c1c1c;
  color: #fff;
  position: relative;
}

.info-section::before,
.info-section::after {
  content: '';
  position: absolute;
  background-color:var(--color-amarillo);
  width: 40px;
  height: 40px;
}

.info-section::before {
  top: 0;
  left: 0;
}

.info-section::after {
  bottom: 0;
  right: 0;
}

.info-section h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.info-item {
  font-family: var(--texto);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  word-break: break-word;
}

.info-item span {
  margin-right: 15px;
  font-size: 20px;
}

.social-icons {
  margin-top: 40px;
}

.social-icons a {
  color: #fff;
  font-size: 35px;
  margin-right: 15px;
  text-decoration: none;
}

/* RESPONSIVE DESIGN FORMULARIO */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .form-section, .info-section {
    flex: 1 1 100%;
    padding: 30px 20px;
  }

  form button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .form-section h1 {
    font-size: 24px;
  }

  .form-section p {
    font-size: 14px;
  }

  .info-section h2 {
    font-size: 20px;
  }

  .info-item {
    font-size: 14px;
  }

  .social-icons a {
    font-size: 18px;
  }
}


