:root{
    /*Colores a utilizar*/
    --color-principal: #F6C42A;
    --colo-secundario: #606060;
    --blanco: #ffffff;
    --negro: #000000 ;
    /*Color de textos*/

    --color-de-texto:#333333;
    /*Fuentes de texto*/
    --fuente-titulos: "Roboto", sans-serif;  ;
    --fuente-de-textos:  "Rubik", sans-serif;
    --fuente-enlace: "Rubik", sans-serif;
}


.hero-nosotros{
  background: url(/img/sustentabilidad/banner.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;

}

.hero-nosotros_titulo{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: var(--fuente-titulos);
    animation-name: tituloAnimacion;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}



/*Animacion del titulo*/
@keyframes tituloAnimacion {
     from{ opacity: 0; font-size: 5rem;}
     to{ opacity: 1; font-size: 6rem;}
}

/*Animacion del contendio del hero*/

.hero-nosotros__contenido{
    color: var(--blanco);
    font-size: 20rem;
    text-align: center;
    padding: 10rem;
    text-align: center;
    font-size: var(--fuente-de-textos);
}

.hero-nosotros__contenido p{
    font-size: 3rem;
    animation-name: textoApareicion;
    animation-duration: 4s;
}

@keyframes textoApareicion{
    from{opacity: 0;}
    to {opacity: 1;}
}




/*Diseño de la apartado de nostros*/



.nosotros-contenido{
    padding-top: 5rem;
    display: grid;
    font-family: var(--fuente-de-textos);
    font-size: 5rem;   
    text-align:justify;
    padding-bottom: 10rem;
    padding-top: 7rem;
}


.nosotros-contenido__importante h2{
    font-size: 4rem;
    text-align:start;
}

.nosotros-contenido__importante{
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-left: 5rem;
    grid-gap: 2rem;
}

.linea_cont{
        height: 2.5px;
        background-color: #F6C42A;  
}



.nosotros-contenido__importante img{
  position: relative;
  cursor: pointer;
  width: 43rem;
  height: 30rem;
  border-radius: 5rem;
  box-shadow: 5px 10px 18px #535353
  
}

/*Animacion de apartado del texto*/

